* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background-color: #f4f4f4;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px 0;
}

h1 {
    font-size: 4.2rem;
}

.container {
    max-width: 850px;
    width: 100%;
    display: flex;
    gap: 3.2rem;
    padding: 4.2rem;
}

aside {
    max-width: 250px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

aside button {
    background-color: white;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    padding: 1.2rem;
    font-size: 1.5rem;
    border: 1px solid #000;
    font-weight: bold;
}

main {
    padding: 1.2rem;
    max-width: 500px;
    width: 100%;
    border-left: 1px solid #111;
}

main h2 {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #111;
    padding-bottom: 1.2rem;
}

h2 strong,
h2 span {
    display: block;
    font-size: 2.4rem;
}

span {
    font-weight: 400;
}

main h3 {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1.3rem;
    margin-top: 1.4rem;
}

h3 strong,
h3 span {
    display: block;
    font-size: 1.9rem;
}

span {
    font-weight: 400;
}

.person {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 20px;
}

.totalPrice {
    width: 100%;
    background-color: white;
    border-bottom: 1px solid #111;
    padding: 5px;
    margin: 30px 0;
}

.totalPrice h3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.totalPrice span,
.totalPrice strong {
    display: block;
}